/* Color pallette---
Orange: #f54b1a
Grey: 737365
black: #484545
Light Grey: #f7f7f7
teal: #65beb4

speakeasy.com colors
gold: #cca75e
alternate blue: #8AA9B3
alt black: #3d3d3a
grey: #939597

------------*/

@import url('http://weloveiconfonts.com/api/?family=entypo');

/*----- Main CSS -----
--------------------*/

body {
    font-family: 'open sans', serif;
    margin: 0 0 0 0;
}


/*----- Index -----
--------------------*/


/*----- NAVIGATION -----
--------------------*/

header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: fixed;
    background-color: white;
    /*   border-bottom: solid #cb5211 5px;*/
    width: 100%;
    z-index: 10000;
    -webkit-box-shadow:0px 2px 2px #808080;
    -moz-box-shadow:0px 2px 2px #808080;
    box-shadow:0px 2px 2px #808080;
}

#logo {
/*    Transition for when header shirnks*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a.selected {
    color: #8aa9b3;
    opacity: .8;
}

a {
    color: #767676;
    text-decoration: none;
    font-weight: 600;
/*    Transition for when header shirnks*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: #8aa9b3;
/*    background: #8aa9b3;*/
    /* rgba backup */
/*    background: rgba(101, 190, 180, 0.2);*/
    -webkit-border-radius: 4px;
    /* safari & chrome */
    -moz-border-radius: 4px;
    /* firefox */
    border-radius: 4px;
    /* futureproof */
}

li.nav_button {
    list-style-type: none;
    padding: 0px 0px;
    margin: 10px 0 10 3px; /* separates 'buttons' */
    display: inline-flex;
    
}

ul {
    padding-left: 0px;
}

/*----- HERO IMAGES -----
--------------------*/

.hero_container {
    /*
    background-image: url('../img/Hero_image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 220px;
*/
}

.hero {
    margin-top: 200px;
    left: 0;
    width: 100%;
    max-height: 500px;
}

.hero_logo {
    position: absolute;
    left: 50%;
    width: 70%;
    font-size: 3em;
    color: white;
    text-align: center;
    font-weight:300;
    z-index: 100;
    transform: translate(-50%, 120%);
    max-height: 235px;
    max-width: 900px;
}

/* Home Page ------------
----------------------------------*/

.info {
    width: 100%;
    background-repeat: repeat;    
}

.bio_container {
    display: flex;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.bio {
    padding: 0 10% 30px 10%;
    text-align: center;
    font-weight: 600;
    border: solid #cca75c;
}

.process {
    color: #cca75c; 
}

div.process {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    border: solid #cca75c;
    border-bottom: hidden;
}

.stages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 20px;
    border: solid #cca75c;
    border-top: hidden;
}

.stages h3 {
    height: 50px;
    color: #cca75c;
}

.steps {
    display: column;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 10 0 10;
    text-align: center;
    min-width: 190px;
/*
    background-image: url(../img/design_back.svg);
    background-repeat: no-repeat;
    background-position: bottom;
*/
}
.steps img {
    height: 100px;
}

.steps p {
    font-size: 10pt;
    font-weight: 600;
/*    color: white;*/
    backface-visibility: visible;
}

input[type="submit"], button, submit {
    border: none;
/*    margin-top: 15px;*/
    width: 400px;
    height: 40px;
    color: white;
    font-size: 13pt;
    font-weight: 600;
    background-color: #cca75c;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

input[type="submit"]:hover, button[type="submit"]:hover, button:hover, submit:hover {
    background-color: #8AA9B3;
    border: solid 3px #cca75c;
    cursor: pointer;
}

/* Instagram feed ------------
----------------------------------*/
#instafeed {
    height: 200px;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.insta {
    padding: 0 -15px;
    margin: 0 -8px;
    height: 200px;
    width: 200px;
    border-radius: 7%;
    align-items: center;
}

/* Email Signup ------------
----------------------------------*/
.signup {
    background-color: #8aa9b3;
    margin-top: 0;
    padding-bottom: 30px;
}
.signup_disc, .signup_disc h2, .signup form{
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 10px;
}

.signup_disc h3 {
    font-weight: 400;
    font-size: 12pt;
}

.newsletter {
    
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14pt;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14pt;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 14pt;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 14pt;
}

.signup input {
    width: 250px;
    height: 62px;
    font-size: 16pt;
    padding: 0px 10px;
    background-color: white;
}

button[type="submit"] {
    width: 150px;
    height: 60px; 
    margin-left: 15px;
    margin-top: none;
    background-color: #cca75c;
}


/* SERVICES PAGE ------------
----------------------------------*/
.fs_container {
     display: flex;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0 20 20 20;
    font-size: .8em;
}

.fs {
    color: #cca75c;
    font-size: 2.2em;
    padding: 0 5;
    border: solid #cca75c;
}

.service_img {
    width: 100%;
    margin: 5 0;
}

.service_container {
    position: relative;
    top: 7px;
    margin-bottom: 7px;
    padding: 0 10px;
    height: 320px;
}

.service_text {
    border: solid #cca75c;
}

.srvc_h2 {
    color: #8aa9b3;
}

.srvc1 {
    background-image: url(../img/Plastisol%20Banner.jpg);
    background-size: cover;
}

.srvc2 {
    background-image: url(../img/Direct_to_garment.png);
    background-size: cover;
}

.srvc3 {
    background-image: url(../img/four_color_process.jpg);
    background-size: cover;
}

.srvc4 {
    background-image: url(../img/water_based.png);
    background-size: cover;
}

/* Affordable Page ------------
----------------------------------*/
.shirtblock img {
    width: 300px;
}


/* Media Queries ------------
----------------------------------*/

@media (max-width: 600px) {
    
    .clearfix {
        display: inline-block;
        height: 70px;
    }
    
    #logo {
        float: left;
        width: 65%;
        z-index: 1000;
        vertical-align: middle;
    }
    
    img#logo {
        margin-top: 11.5px;
        max-height: 55px;
        min-height: 44px;
    }
    
    div#logo {
        margin-left: 5%;
        margin-bottom: 5px;;
    }
    
    #hamburger, #cross {
        color: black;
        float: right;
        width: 40px;
        height: 40px;
        margin-top: 13.5px;
        margin-right: 5px;
        background: none;
        border: solid #cca75c;
    }
    
    #cross {
        padding: 8px;
        font-size: 2em;
    }
    .nav {
        text-align: center;
        background: white;
        margin-top: 70px;
    }
    
    li.nav_button {
/*        display: inline-flex;*/
        /* makes list vertical */
        align-items: center;
        margin-right: 0;
        font-size: 10pt;
    }
    ul {
        padding-left: 0;
        margin: 0px;
    }
    
    img.hero {
        margin-top: 70px;
    }
    
    /* services page containters and images */
    .service_container {
        height: 350px
    }
    .service_text {
        /* box positioning*/
        position: absolute;
        top: 20px;
        right: 5%;
        left: 5%;
        max-height: 298px;
        padding: 5 30 20 30;
        /*Decoration*/
        font-size: 9pt;
        background-color: white;
    }
    
}

@media (min-width: 600px) {
    #logo {
        Display: block;
        margin: auto;
        width: 360px;
        height: auto;
        z-index: 1000;
    }
    .nav {
        padding: 0 0 0 0;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    ul {
        padding-left: 0px;
        margin: 0px;
    }
    li.nav_button {
        text-align: center;
        display: inline-block;
/*         makes list horizontal */
        margin-right: 0;
    }
    a {
        padding: 8px 8px;
        /* makes target area bigger */
        /*
      color: #333;  rgba backup 
      color: rgba(255,255,255, 0.8);
    */
        font-size: 9pt;
        text-align: center;
    }
    
    .hero {
        margin-top: 126;
    }
    /* services containters and images */
    .service_text {
        /*
        display: flex;
        flex-direction: column;
    */
        position: absolute;
        top: 20px;
        right: 27%;
        max-width: 500px;
        max-height: 250px;
        font-size: 10pt;
        padding: 10 30 20 30;
        background-color: white;
    }
    .text2,
    .text4 {
        right: auto;
        left: 27%;
    }
    
    /*    CSS for Javascript that shrinks nav and header*/

        header.smaller {
            height: 100px;
        }

        header.smaller img#logo {
            width: 250px;
            -webkit-transition: height 0.5s ease-in-out;
            -moz-transition: height 0.5s ease-in-out;
            -ms-transition: height 0.5s ease-in-out;
            -o-transition: height 0.5s ease-in-out;
            transition: height 0.5s ease-in-out;
        }

        header.smaller div#logo {
            height: 90px;
        }

        header.smaller nav a {
            font-size: 9pt;
        }
}
    
    
    /* Bio stages wrapping */
/*
    .steps {
        flex: 2;
    }
*/
    
    


@media (min-width: 980px) {
    #logo {
        height: auto;
        width: 400px;;
    }
    .nav {
        padding: 0 0 0 0;
        width: 80%;
    }
    li.nav_button {
        justify-content: center;
        align-items: center;
    }
    header a {
    padding: 5px 10px;
    /* makes target area bigger */
    font-size: 10pt;
}


/* services containters and images */

.service_text {
    /*
    display: flex;
    flex-direction: column;
*/
    position: absolute;
    top: 20px;
    right: 45%;
    max-width: 450px;
    font-size: 9pt;
    padding: 0 12 8 12;
    background-color: white;
}

.text2,
.text4 {
    right: auto;
    left: 45%;
}
}

/* FOOTER ------------
----------------------------------*/
.border_break {
    position: absolute;
    border-top: 3px solid white;
    border-top-right-radius: 30px;
    width: 70%;
    margin-left: 15%;
    margin-top: -1.5px;
    z-index: 100;
}

footer {
    background-repeat: repeat;
    padding: 30px 0;
    width: 100%;
    bottom: 0;
    background-color: #3d3d3a;
/*    border-top: 5px solid white;*/
    text-align: center;
    z-index: 1005;
}

footer a {
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
}

footer a:hover,
footer a:focus {
    color: #8aa9b3;
    text-decoration: none;
}

footer .contact-info h1 {
    margin: 0;
}

footer .contact-info h1 a {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #cca75c;
    margin: 15px;
}

footer .contact-info h2 {
    font-size: 32px;
    color: #8aa9b3;
    margin: 10px 0;
    text-align: center;
    line-height: 1;
}


footer .contact-info .email-info {
    font-size: 15px;
}

footer .contact-info .email-info a {
    font-size: 12pt;
    font-weight: 600;
    color: white;
}

footer .contact-info .email-info a:hover,
footer .contact-info .email-info a:focus {
    color: #8aa9b3;
}

footer .address-info {
    font-size: 12px;
    color: white;
}

.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 6px 8px;
  line-height: 42px;
  font-family: Entypo;
  font-size: 24px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background: rgba(61, 61, 58,.8);
  overflow: hidden;
  cursor: pointer;
}

.social:hover {
   background: rgba(204, 167, 92,1);
}

/*
footer .btn {
    border-radius: 0px;
    height: 40px;
    width: 5.938rem;
    border: none;
    font-weight: 600;
    text-transform: none;
}
*/

footer .copyright {
    font-size: 13px;
    line-height: 2;
    padding-top: 0;
    color: white;
    text-align: center;
}

footer .copyright a {
    color: white;
}

footer .copyright a:hover,
footer .copyright a:focus {
    text-decoration: none;
    color: #8aa9b3;
}

#subscribe_error p {
    color: red;
}


/* Clearfix ------------
----------------------------------*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}


/* IE6 */

*:first-child+html .clearfix {
    zoom: 1;
}


/* IE7 */

